.block {
  border-style: solid;
  border-width: 1px;
}

.category {
  border-style: solid;
  border-width: 2px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  color: #337ab7;
  text-decoration: none;
  margin-bottom: 0px;
}

.nav>li>p:focus, .nav>li>p:hover {
  background-color: #eee;
}

.category:focus, .category:hover {
  color: #23527c;
}

.block-link {
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  color: #337ab7;
  text-decoration: none;
  margin-bottom: 0px;
}

.block-link:focus, .block-link:hover {
  color: #23527c;
}

.active {
  border-style: solid;
  border-width: 3px;
}
